altair
annotated-types
anyio
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
decorator
defusedxml
distro
executing
faiss-cpu
fastjsonschema
filelock
fsspec
gitdb
GitPython
h11
httpcore
httpx
huggingface-hub
idna
ipython
jedi
Jinja2
joblib
jsonschema
jupyter_core
keyring
markdown-it-py
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
networkx
numpy
openai
packaging
pandas
pandocfilters
parso
pillow
pipreqs
platformdirs
plotly
prompt_toolkit
protobuf
pyarrow
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pyOpenSSL
python-dateutil
pytz
PyYAML
pyzmq
referencing
regex
requests
requirements-parser
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
smmap
sniffio
snowflake-connector-python
sortedcontainers
soupsieve
stack-data
streamlit
sympy
tenacity
threadpoolctl
tinycss2
tiktoken
tokenizers
toml
tomlkit
torch
tornado
tqdm
traitlets
transformers
typer
typing_extensions
tzdata
urllib3
watchdog
wcwidth
webencodings
